---
import Layout from '../layouts/Layout.astro';
import PantoneCard from '../components/PantoneCard.astro';
---

<Layout title="Astro + tailwindcss Pantone Card">
	<div class="w-full h-screen	flex flex-row justify-center items-center">
		<PantoneCard />
	</div>
</Layout>