<div class="flex flex-col pt-[10px] pl-[10px] pr-[10px] pb-[55px] mb-[50px] bg-white border-2 border-[#E5E5E5] border-solid [box-shadow:10px_10px_20px_0px_rgba(0,0,0,0.29)]">
    
    <div class="w-[338px] h-[calc(292px)] mars-color"></div>
    
    <h2 class="mt-[10px] capitalize text-[1.9rem] text-black helvetica-neue-bold">mars</h2>
    
    <h3 class="mt-[10px] uppercase text-[1.5rem] text-black helvetica-neue-bold">PEPPERONI</h3>
    
    <h4 class="mt-[10px] uppercase text-[1.2rem] text-black helvetica-neue-regular">#A54002</h4>
</div>